[Unit]
Description=FileBin FastAPI
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/filebin/backend
ExecStart=/opt/filebin/backend/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker server:base_app --bind 0.0.0.0:10000
Environment="PATH=/opt/filebin/backend/venv/bin"

[Install]
WantedBy=multi-user.target